html, body{
    min-height: 100%;
    background-color: rgb(31, 29, 29);
}
*{
    margin:  0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    color: white;
}

.container_messages{
    text-align: center;
    padding: 1em 0;
     background-color: rgb(59, 58, 58);
}

.container_body{
    min-height: 65vh;
}

.header_main_container{
    padding: 1em 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
}

.header_main_container img{
    height: 50px;
    width: 50px;
}

.header_main_container ul{
    display: flex;
    align-items: center;
}

.header_main_container ul li{
   list-style-type: none;
   margin-left: 1em;
}

.header_main_container ul li a{
    text-decoration: none;
    font-weight: 500;
    transition: .4s;
 }
 .header_main_container ul li a:hover{
    color: orange;
 }


 /* HOME */

 .home_search{
    text-align: center;
    width: 400px;
    margin: 0 auto;
 }

.home_search form{
    display: flex;
    justify-content: space-between;
}
.home_search input{
    background-color: transparent;
}

.home_search input[type="text"]{
    width: 77%;
    border: none;
    border-bottom: 1px solid orange;
    padding: .4em .5em;
    outline: none;
}

.home_search input::placeholder{
    color: white;
}

.home_search input[type="submit"]{
    border: none;
    cursor: pointer;
    border-bottom: 1px solid orange;
    /* border-radius: 4px; */
    padding: .4em .6em;
    outline: none;
    transition: .5s;
}

.home_search input[type="submit"]:hover{
   background-color: rgb(240, 174, 51);
   border-radius: 4px;
}

.container_order form button{
    background-color: transparent;
    padding: .2em .3em;
    border: 1px solid rgb(44, 44, 44);
}

.home_container h1{
    text-align: center;
    margin: 1.3em;
}

.container_order{
    margin: 2em auto .8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    /* background-color: red; */
    text-align: center;
}

.container_order h3{
    font-size: 18px;
}

.form_order button{
    padding: .2em;
    transition: .4s;
    cursor: pointer;
}

.container_order a{
    text-decoration: none;
    border: 1px solid rgb(230, 170, 60);
    padding: .2em .6em;
    font-size: 14px;
    border-radius: 4px;
}

.form_order button:hover{
    background-color: orange;
}

.homeToughts{
max-width: 50% !important;
min-width: 40%;
}

.homeToughts li{
    font-size: 28px;
}

.homeToughts li p{
    font-size: 16px;
    color: orange;
    margin-top: .5em;
}


     

/* style de register de users */

.container_form h1{
    text-align: center;
    margin: 1em 0;
    font-weight: 500;
}

.container_form form{
    margin: 0 auto;
    max-width: 450px;
}

.container_form .form_control{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.container_form .form_control:last-child{
    margin-top: 1.5em;
}

.form_control label{
    margin-bottom: .5em;
    font-weight: 500;
}

.form_control input{
    outline: none;
    border: 1px solid orange;
    background-color: transparent;
    padding: .5em 1em;
    border-radius: 4px;   
    transition: .5s;
}

.form_control input::placeholder{
     color: white;
}

.form_control input[type="submit"]{
    font-weight: 600;
    cursor: pointer;
}

.form_control input[type="submit"]:hover{
    background-color: orange;
    color: black;
}

/* DASHBOARD */

.dashboard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2%;
    margin: 1.5em 0;
}

.dashboard_header a{
    text-decoration: none;
    padding: .5em 1em;
    background-color: rgba(255, 166, 0, 0.733);
    border-radius: 4px;
    transition: .5s;
}

.dashboard_header a:hover{
    background-color: rgb(255, 166, 0);
}

.container_tought{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto 2em;
    padding: 1em .5em;
    border-bottom: 1px solid orange;
}

.container_tought li{
   list-style-type: none;
}

.container_actions{
    display: flex;
    align-items: center;
}

.container_actions form input{
    margin-left: 2em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: .4em .9em;
    /* height: 35px;
    width: 80px; */
    background-color: rgba(107, 106, 106, 0.452);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: .4s;
}

.container_actions a{
    padding: .4em .9em;
    font-size: 16px;
    text-decoration: none;
    /* height: 35px;
    width: 80px;  */
    background-color: rgba(107, 106, 106, 0.452);
    border-radius: 4px;
    transition: .4s;
}

.container_actions a:hover{
    background-color: rgba(255, 166, 0, 0.74);
    color: white;
}
.container_actions input:hover{
    background-color: rgba(255, 166, 0, 0.74);
    color: white;
}


/* FOOTER */

footer{
    padding: 2em 0;
    text-align: center;
}